@using Syncfusion.Blazor.Calendars

<div class="flex flex-col">
    <label>@Text</label>
    <SfDatePicker TValue="DateTime?" Placeholder="@Text" Value="DateTime.Now"></SfDatePicker>
</div>

@code {
    /// <summary>
    /// The text to display in the label.
    /// </summary>
    [Parameter]
    public string Text { get; set; } = string.Empty;
}