<div class="border-2 border-[#94A3B8] rounded-tl-3xl rounded-tr-3xl mt-6 p-2 py-4" style="border-bottom: none;">
    <div class="flex justify-between w-[72rem] mr-2 ml-2">
        <div class="flex flex-col">
            <p class="text text-[#474747] font-medium text-3xl">Lorem ipsum</p>
            <p class="text-2xl text">Изтича на <span class="italic font-semibold">Сряда, Ноември 23 2022.</span></p>
        </div>
        <div class="flex flex-row items-start space-x-4">
            <p class="text">Последно използван преди 1 ден</p>
            <RedButton Text="Изтрий" StyleClass="px-4 py-1" />
        </div>
    </div>
</div>