<button @onclick="OnClickCallback" class="border-2 rounded-lg border-[#94A3B8] text text-[#94A3B8] font-semibold @StyleClass">@Text</button>

@code {
    /// <summary>
    /// The text to display in the button.
    /// </summary>
    [Parameter]
    public string Text { get; set; } = string.Empty;

    /// <summary>
    /// The class string used to style the button.
    /// </summary>
    [Parameter]
    public string StyleClass { get; set; } = string.Empty;

    /// <summary>
    /// The callback executed when the button is clicked.
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}

