<button @onclick="OnClickCallback" class="border-2 rounded-lg border-[#94A3B8] text text-[#94A3B8] font-semibold @StyleClass">@Text</button>

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string StyleClass { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}

