<button @onclick="OnClickCallback" class="rounded-lg border-2 border-[#FF0000] bg-[#FF0000] bg-opacity-25 flex items-center justify-center text-[#FF0000] font-semibold @StyleClass">@Text</button>

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string StyleClass { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
