<h1 class="text text-8xl font-bold text-[#141414]">@Text</h1>

@code {
    /// <summary>
    /// The text to display inside the header
    /// </summary>
    [Parameter]
    public string? Text {get; set; }
}
