<div class="tooltip-wrapper">
    <span class="tooltip-text">@TooltipText</span>
    <svg
     class="@StyleClass"
     title="" 
     viewBox="0 0 39 39" 
     fill="none" 
     xmlns="http://www.w3.org/2000/svg">
        <circle cx="19.5" cy="19.5" r="19" stroke="#94A3B8" />
        <path d="M17.3963 24.0682V23.9446C17.41 22.6333 17.5473 21.5897 17.8082 20.8139C18.0691 20.0381 18.4399 19.4099 18.9205 18.9293C19.401 18.4487 19.9777 18.0059 20.6506 17.6009C21.0556 17.3537 21.4195 17.0619 21.7422 16.7255C22.0649 16.3822 22.3189 15.9875 22.5043 15.5412C22.6965 15.0949 22.7926 14.6006 22.7926 14.0582C22.7926 13.3854 22.6347 12.8018 22.3189 12.3075C22.0031 11.8132 21.5808 11.4322 21.0522 11.1644C20.5236 10.8967 19.9366 10.7628 19.2912 10.7628C18.7282 10.7628 18.1858 10.8795 17.6641 11.1129C17.1423 11.3464 16.7063 11.7137 16.3562 12.2148C16.006 12.716 15.8035 13.3717 15.7486 14.1818H13.1534C13.2083 13.0147 13.5104 12.0157 14.0597 11.185C14.6158 10.3543 15.3469 9.71922 16.2532 9.27983C17.1663 8.84043 18.179 8.62074 19.2912 8.62074C20.4995 8.62074 21.55 8.86103 22.4425 9.34162C23.3419 9.82221 24.0353 10.4813 24.5227 11.3189C25.017 12.1565 25.2642 13.1108 25.2642 14.1818C25.2642 14.937 25.1475 15.6201 24.9141 16.2312C24.6875 16.8422 24.358 17.388 23.9254 17.8686C23.4998 18.3492 22.9848 18.7749 22.3807 19.1456C21.7765 19.5232 21.2925 19.9214 20.9286 20.3402C20.5647 20.7521 20.3004 21.243 20.1357 21.8129C19.9709 22.3827 19.8816 23.0933 19.8679 23.9446V24.0682H17.3963ZM18.7145 30.1648C18.2064 30.1648 17.7705 29.9828 17.4066 29.619C17.0427 29.2551 16.8608 28.8191 16.8608 28.3111C16.8608 27.803 17.0427 27.3671 17.4066 27.0032C17.7705 26.6393 18.2064 26.4574 18.7145 26.4574C19.2225 26.4574 19.6585 26.6393 20.0224 27.0032C20.3862 27.3671 20.5682 27.803 20.5682 28.3111C20.5682 28.6475 20.4824 28.9564 20.3107 29.2379C20.146 29.5194 19.9228 29.746 19.6413 29.9176C19.3667 30.0824 19.0578 30.1648 18.7145 30.1648Z" fill="#94A3B8" />
    </svg>
</div>

@code {
    /// <summary>
    /// The CSS class to be used for styling the tooltip icon.
    /// </summary>
    [Parameter]
    public string StyleClass { get; set; } = string.Empty;

    /// <summary>
    /// The text to display as tooltip.
    /// </summary>
    [Parameter]
    public string TooltipText { get; set; } = string.Empty;
}