@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: help;
}

span {
    visibility: hidden;
    position: absolute;
    width: 240px;
    bottom: 100%;
    left: -121%;
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover span {
    visibility: visible;
}

.form-group {
    border: 1px solid #999;
    margin: 10px;
    border-radius: 5px;
}

.form-group > label {
    position: absolute;
    top: -1px;
    left: 25px;
    background-color: white;
    color: #666;
    padding: 0 5px;
}

.form-group .required {
    color: red;
    padding: 0 5px;
}

.form-group > input {
    border: none;
    border: 0;
    line-height: 100%;
}
