<h1 class="text text-[#474747] text-4xl font-bold">Управлявайте вашите API ключове</h1>
<h1 class="text text-[#474747] text-2xl font-medium mt-2">На тази страница може да създавате API ключове, които да използвате във ваши аппликации</h1>