@using CBCanteen.Client.ComponentLibrary.Components
@using CBCanteen.Client.Services.Contracts;
@using Microsoft.Graph.Models;
@using Microsoft.Graph.Models.ODataErrors;
@using Microsoft.JSInterop;
@inject IJSRuntime JS
@inject IUserService userService
@inject NavigationManager Navigation

<h1 class="text text-[#474747] text-4xl font-bold">Управлявайте времето за обяд</h1>
<h1 class="text text-[#474747] text-2xl font-medium mt-2">Кога е вашият обяд?</h1>

<Checkbox 
    OnButtonChange="UpdateButtonState"
    IsChecked="haveLunchOnSameTime" 
    StyleClass="mt-4" 
    Text="Имам едно и също време за обяд всеки ден" />

@if (haveLunchOnSameTime)
{
    <div class="flex mt-6 flex-row space-x-4">
        <InputTime Text="Начало" />
        <InputTime Text="Край" />
    </div>
}
else
{
    <div class="grid grid-cols-3 gap-4 mt-6">
        <div class="flex items-center justify-center justify-self-start">
            <p class="text text-xl text-[#94A3B8]">Понеделник</p>
        </div>
        <InputTime Text="Начало" />
        <InputTime Text="Край" />
        <div class="flex items-center justify-center justify-self-start">
            <p class="text text-xl text-[#94A3B8]">Вторник</p>
        </div>
        <InputTime Text="Начало" />
        <InputTime Text="Край" />
        <div class="flex items-center justify-center justify-self-start">
            <p class="text text-xl text-[#94A3B8]">Сряда</p>
        </div>
        <InputTime Text="Начало" />
        <InputTime Text="Край" />
        <div class="flex items-center justify-center justify-self-start">
            <p class="text text-xl text-[#94A3B8]">Четвъртък</p>
        </div>
        <InputTime Text="Начало" />
        <InputTime Text="Край" />
        <div class="flex items-center justify-center justify-self-start">
            <p class="text text-xl text-[#94A3B8]">Петък</p>
        </div>
        <InputTime Text="Начало" />
        <InputTime Text="Край" />
    </div>
}
<GreenButton Text="Запази" StyleClass="mr-2 flex items-center justify-center py-1 px-4 mt-6" />

@code {
    private bool haveLunchOnSameTime = true;

    /// <summary>
    /// Updates the state of the button.
    /// </summary>
    /// <param name="newState">New state</param>
    private void UpdateButtonState(bool newState)
    {
        haveLunchOnSameTime = newState;
    }
}